@using System.Web
@model List<App_Data.ViewModels.ThuocTinh.ThuocTinhViewModel>
<style>
    thead {
        background: #0eabe7;
    }

        thead > tr > th {
            color: white !important;
        }
    .text-right .btn-success {
        float: right;
        margin-bottom: 10px;
    }
    .table {
        margin-bottom: 0;
    }
</style>
<div style="padding: 20px;">
    <div class="text-right mb-3">
        <button type="button" class="btn btn-success" onclick="ThemHang()">
            <i class="fas fa-plus"></i> Thêm hãng
        </button>
    </div>
    <table id="data-table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Mã</th>
                <th class="text-center">Tên</th>
                <th class="text-center">Trạng thái</th>
                <th class="text-center">Biến thể liên quan</th>
                <th class="text-center">###</th>
            </tr>
        </thead>
        <tbody>
            @{
                var STT = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@(STT++)</td>
                    <td class="text-center">@item.Ma!.ToUpper()</td>
                    <td class="text-center">@item.Ten!.ToUpper()</td>
                    <td class="text-center">@item.TrangThai</td>
                    <td class="text-center">@item.SoBienTheDangDung</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-kio" onclick="Edit('@item.Id', '@Html.Raw(HttpUtility.JavaScriptStringEncode(item.Ten))', '@item.SoBienTheDangDung')">
                                <i class="far fa-edit"></i>
                            </button>
                            <button type="button" class="btn" style="background: red; color: #fff" onclick="Delete('@item.Id','@Html.Raw(HttpUtility.JavaScriptStringEncode(item.Ten))','@item.SoBienTheDangDung')">
                                <i class="anticon anticon-delete"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function DrawThuongHieu() {
        $.ajax({
            url: '/admin/thuoctinhsanpham/LoadPartialViewDanhSachHang',
            type: 'GET',
            success: function (result) {
                content.empty().append(result);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    }
    $('#data-table').Datatable();
    function Delete(id, name, soBienTheDangDung) {
        if (soBienTheDangDung > 0) {
            Swal.fire({
                title: 'Xóa thất bại',
                text: `"${name}" đang được dùng cho ${soBienTheDangDung} biến thể.`,
                icon: 'info',
                confirmButtonText: 'OK'
            });
        } else {
            Swal.fire({
                title: 'Xác nhận',
                text: `Bạn có chắc chắn muốn xóa hãng "${name}" không?`,
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'OK',
                cancelButtonText: 'Hủy',
            }).then((result) => {
                if (result.isConfirmed) {

                    var data = {
                        idHang: id,
                    };
                    $.ajax({
                        url: '/admin/thuoctinhsanpham/DeleteHang',
                        type: 'GET',
                        data: data,
                        success: function (result) {
                            if (result) {
                                DrawThuongHieu();
                                Swal.fire(
                                    'Thông báo',
                                    'Đã xóa thành công',
                                    'success'
                                );
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                }
            });

        }
    }

    function Edit(id, name, soBienTheDangDung, trangThai) {
        Swal.fire({
            title: 'Chỉnh sửa thương hiệu',
            html:
                '<input id="tenHang" class="swal2-input" value="' + name + '" placeholder="Tên hãng">' +
                '<div class="form-group">' +
                '    <label for="trangThai">Trạng thái:</label>' +
                '    <select class="form-control" id="trangThai">' +
                '        <option value="0" ' + (trangThai == 0 ? "selected" : "") + '>Hoạt động</option>' +
                '        <option value="1" ' + (trangThai == 1 ? "selected" : "") + '>Không hoạt động</option>' +
                '    </select>' +
                '</div>',
            showCancelButton: true,
            confirmButtonText: 'Lưu',
            cancelButtonText: 'Hủy',
        }).then((result) => {
            if (result.isConfirmed) {
                const enteredValue = document.getElementById('tenHang').value;
                const trangThaiValue = parseInt(document.getElementById('trangThai').value);
                if (enteredValue !== '') {
                    Swal.fire({
                        title: 'Xác nhận',
                        text: `Bạn có chắc chắn muốn thay đổi hãng, việc thay đổi hãng sẽ làm cho hãng của ${soBienTheDangDung} biến thể thay đổi theo?`,
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Hủy',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var data = {
                                IdHang: id,
                                TenHang: enteredValue,
                                TrangThai: trangThaiValue
                            };
                            $.ajax({
                                url: '/admin/thuoctinhsanpham/EditHang',
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function (result) {
                                    if (result) {
                                        DrawThuongHieu();
                                        Swal.fire(
                                            'Thông báo!',
                                            'Cập nhật thành công!',
                                            'success'
                                        );
                                    } else {
                                        Swal.fire(
                                            'Thông báo',
                                            'Cập nhật thất bại!',
                                            'info'
                                        );
                                    }
                                },
                                error: function (xhr, status, error) {
                                    console.log(xhr.responseText);
                                    console.log(status);
                                    console.log(error);
                                    console.log(xhr);
                                }
                            });
                        }
                    });
                } else {
                    Swal.fire(
                        'Lỗi!',
                        'Vui lòng nhập giá trị.',
                        'error'
                    );
                }
            }
        });
    }


    function ThemHang() {
        Swal.fire({
            title: 'Thêm hãng mới',
            html:
                '<input id="tenHang" class="swal2-input" placeholder="Tên hãng">' +
                '<div class="form-group">' +
                '    <label for="trangThai">Trạng thái:</label>' +
                '    <select class="form-control" id="trangThai">' +
                '        <option value="0">Hoạt động</option>' +
                '        <option value="1">Không hoạt động</option>' +
                '    </select>' +
                '</div>',
            showCancelButton: true,
            confirmButtonText: 'Thêm',
            cancelButtonText: 'Hủy',
            preConfirm: () => {
                const tenHang = document.getElementById('tenHang').value;
                const trangThai = document.getElementById('trangThai').value;
                return { tenHang: tenHang, trangThai: parseInt(trangThai) }; // Chuyển đổi giá trị sang kiểu số nguyên
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const data = result.value;
                if (data.tenHang !== '' && data.trangThai !== '') {
                    // Gửi dữ liệu thông qua AJAX để thêm hãng mới vào cơ sở dữ liệu
                    $.ajax({
                        url: '/admin/thuoctinhsanpham/CreateHang',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (result) {
                            if (result) {
                                DrawThuongHieu();
                                Swal.fire(
                                    'Thông báo!',
                                    'Thêm hãng mới thành công!',
                                    'success'
                                );
                            } else {
                                Swal.fire(
                                    'Thông báo',
                                    'Thêm hãng mới thất bại!',
                                    'info'
                                );
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                } else {
                    Swal.fire(
                        'Lỗi!',
                        'Vui lòng nhập đầy đủ thông tin.',
                        'error'
                    );
                }
            }
        });
    }

</script>
<script>
    $('#data-table').Datatable();
</script>
<script src="~/Admin/vendors/datatables/jquery.dataTables.min.js" defer></script>
<script src="~/Admin/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
<script src="~/Admin/js/pages/datatables.js" defer></script>