@using System.Web
@model List<App_Data.ViewModels.ThuocTinh.ThuocTinhViewModel>
<style>
    thead {
        background: #0eabe7;
    }

        thead > tr > th {
            color: white !important;
        }

    .text-right .btn-success {
        float: right;
        margin-bottom: 10px;
    }

    .table {
        margin-bottom: 0;
    }
</style>
<div style="padding: 20px;">
    <div class="text-right mb-3">
        <button type="button" class="btn btn-success" onclick="ThemTheNho()">
            <i class="fas fa-plus"></i> Thêm Thẻ Nhớ
        </button>
    </div>
    <table id="data-table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Mã</th>
                <th class="text-center">Loại Thẻ Nhớ</th>
                <th class="text-center">Dung lượng</th>
                <th class="text-center">Trạng thái</th>
                <th class="text-center">Biến thể liên quan</th>
                <th class="text-center">###</th>
            </tr>
        </thead>
        <tbody>
            @{
                var STT = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@(STT++)</td>
                    <td class="text-center">@item.Ma!.ToUpper()</td>
                    <td class="text-center">@item.LoaiTheNho</td>
                    <td class="text-center">@item.DungLuong</td>
                    <td class="text-center">@item.TrangThai</td>
                    <td class="text-center">@item.SoBienTheDangDung</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-kio" onclick="Edit('@item.Id', '@Html.Raw(HttpUtility.JavaScriptStringEncode(item.LoaiTheNho))', '@Html.Raw(HttpUtility.JavaScriptStringEncode(item.DungLuong))', '@item.SoBienTheDangDung', '@item.TrangThai')">
                                <i class="far fa-edit"></i>
                            </button>
                            <button type="button" class="btn" style="background: red; color: #fff" onclick="Delete('@item.Id','@Html.Raw(HttpUtility.JavaScriptStringEncode(item.LoaiTheNho))', '@item.SoBienTheDangDung')">
                                <i class="anticon anticon-delete"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function DrawThuongHieu() {
        $.ajax({
            url: '/admin/thuoctinhsanpham/LoadPartialViewDanhSachTheNho',
            type: 'GET',
            success: function (result) {
                content.empty().append(result);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    }
    $('#data-table').Datatable();
    function Delete(id, loaiTheNho, soBienTheDangDung) {
        if (soBienTheDangDung > 0) {
            Swal.fire({
                title: 'Xóa thất bại',
                text: `"${loaiTheNho}" đang được dùng cho ${soBienTheDangDung} biến thể.`,
                icon: 'info',
                confirmButtonText: 'OK'
            });
        } else {
            Swal.fire({
                title: 'Xác nhận',
                text: `Bạn có chắc chắn muốn xóa Thẻ Nhớ "${loaiTheNho}" không?`,
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'OK',
                cancelButtonText: 'Hủy',
            }).then((result) => {
                if (result.isConfirmed) {
                    var data = {
                        idTheNho: id,
                    };
                    $.ajax({
                        url: '/admin/thuoctinhsanpham/DeleteTheNho',
                        type: 'GET',
                        data: data,
                        success: function (result) {
                            if (result) {
                                DrawThuongHieu();
                                Swal.fire(
                                    'Thông báo',
                                    'Đã xóa thành công',
                                    'success'
                                );
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                }
            });
        }
    }

    function Edit(id, loaiTheNho, dungLuong, soBienTheDangDung, trangThai) {
        Swal.fire({
            title: 'Chỉnh sửa Thẻ Nhớ',
            html:
                '<input id="loaiTheNho" class="swal2-input" value="' + loaiTheNho + '" placeholder="Loại Thẻ Nhớ">' +
                '<input id="dungLuong" class="swal2-input" value="' + dungLuong + '" placeholder="Dung lượng">' +
                '<div class="form-group">' +
                '    <label for="trangThai">Trạng thái:</label>' +
                '    <select class="form-control" id="trangThai">' +
                '        <option value="0" ' + (trangThai == "Hoạt động" ? "selected" : "") + '>Hoạt động</option>' +
                '        <option value="1" ' + (trangThai == "Không hoạt động" ? "selected" : "") + '>Không hoạt động</option>' +
                '    </select>' +
                '</div>',
            showCancelButton: true,
            confirmButtonText: 'Lưu',
            cancelButtonText: 'Hủy',
        }).then((result) => {
            if (result.isConfirmed) {
                const loaiTheNhoValue = document.getElementById('loaiTheNho').value;
                const dungLuongValue = document.getElementById('dungLuong').value;
                const trangThaiValue = document.getElementById('trangThai').value;
                if (loaiTheNhoValue !== '' && dungLuongValue !== '') {
                    Swal.fire({
                        title: 'Xác nhận',
                        text: `Bạn có chắc chắn muốn thay đổi Thẻ Nhớ, việc thay đổi Thẻ Nhớ sẽ làm cho Thẻ Nhớ của ${soBienTheDangDung} biến thể thay đổi theo?`,
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Hủy',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var data = {
                                IdTheNho: id,
                                LoaiTheNho: loaiTheNhoValue,
                                DungLuong: dungLuongValue,
                                TrangThai: trangThaiValue == "0" ? 0 : 1
                            };
                            $.ajax({
                                url: '/admin/thuoctinhsanpham/EditTheNho',
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function (result) {
                                    if (result) {
                                        DrawThuongHieu();
                                        Swal.fire(
                                            'Thông báo!',
                                            'Cập nhật thành công!',
                                            'success'
                                        );
                                    } else {
                                        Swal.fire(
                                            'Thông báo',
                                            'Cập nhật thất bại!',
                                            'info'
                                        );
                                    }
                                },
                                error: function (xhr, status, error) {
                                    console.log(xhr.responseText);
                                    console.log(status);
                                    console.log(error);
                                    console.log(xhr);
                                }
                            });
                        }
                    });
                } else {
                    Swal.fire(
                        'Lỗi!',
                        'Vui lòng nhập đầy đủ thông tin.',
                        'error'
                    );
                }
            }
        });
    }

    function ThemTheNho() {
        Swal.fire({
            title: 'Thêm Thẻ Nhớ mới',
            html:
                '<input id="loaiTheNho" class="swal2-input" placeholder="Loại Thẻ Nhớ">' +
                '<input id="dungLuong" class="swal2-input" placeholder="Dung lượng">' +
                '<div class="form-group">' +
                '    <label for="trangThai">Trạng thái:</label>' +
                '    <select class="form-control" id="trangThai">' +
                '        <option value="0">Hoạt động</option>' +
                '        <option value="1">Không hoạt động</option>' +
                '    </select>' +
                '</div>',
            showCancelButton: true,
            confirmButtonText: 'Thêm',
            cancelButtonText: 'Hủy',
            preConfirm: () => {
                const loaiTheNho = document.getElementById('loaiTheNho').value;
                const dungLuong = document.getElementById('dungLuong').value;
                const trangThai = document.getElementById('trangThai').value;
                return { loaiTheNho: loaiTheNho, dungLuong: dungLuong, trangThai: parseInt(trangThai) }; // Chuyển đổi giá trị sang kiểu số nguyên
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const data = result.value;
                if (data.loaiTheNho !== '' && data.dungLuong !== '') {
                    // Gửi dữ liệu thông qua AJAX để thêm Thẻ Nhớ mới vào cơ sở dữ liệu
                    $.ajax({
                        url: '/admin/thuoctinhsanpham/CreateTheNho',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (result) {
                            if (result) {
                                DrawThuongHieu();
                                Swal.fire(
                                    'Thông báo!',
                                    'Thêm Thẻ Nhớ mới thành công!',
                                    'success'
                                );
                            } else {
                                Swal.fire(
                                    'Thông báo',
                                    'Thêm loại thẻ nhớ mới thất bại hoặc loại thẻ nhớ đã tồn tại.',
                                    'error'
                                );
                            }
                        },
                        error: function (xhr, status, error) {
                            if (xhr.status === 400) {
                                Swal.fire(
                                    'Thông báo',
                                    'Loại thẻ nhớ đã tồn tại.',
                                    'error'
                                );
                            } else {
                                Swal.fire(
                                    'Lỗi!',
                                    'Đã xảy ra lỗi khi thêm Chip mới!',
                                    'error'
                                );
                            }
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });

                } else {
                    Swal.fire(
                        'Lỗi!',
                        'Vui lòng nhập đầy đủ thông tin.',
                        'error'
                    );
                }
            }
        });
    }
</script>
<script>
    $('#data-table').Datatable();
</script>
<script src="~/Admin/vendors/datatables/jquery.dataTables.min.js" defer></script>
<script src="~/Admin/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
<script src="~/Admin/js/pages/datatables.js" defer></script>